#form{
    width: 60%;
    color:white;
    text-align: justify;
  
  }
  #go{
    background-color: darkturquoise;
    border-radius: 10px;
    border: 2px solid grey;
  }
  #go:hover{
    color: white;
  }  